@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@view-transition {
	navigation: auto;
}

@layer base {
	:root {
		--font-family: 'Montserrat', 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
	}

	html,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	button,
	span {
		font-family: var(--font-family), sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@layer utilities {
	@supports (-webkit-touch-callout: none) {
		.min-h-screen-ios {
			min-height: -webkit-fill-available;
		}
	}
}

/* Hide vertical scrollbar */
body::-webkit-scrollbar {
	display: none;
}

/* Firefox */
body {
	scrollbar-width: none;
}

/* IE and Edge */
.no-scrollbar {
	-ms-overflow-style: none;
}
