@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic';
    }

    html, h1, h2, h3, h4, h5, h6, p, a, button, span {
        font-family: var(--font-family), sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}